.content {

	@include media(w1024) {
		transition: $trans;
		display: flex;
		flex-flow: column;
		padding-top: $header-height-tablet;
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
		position: relative;

		&:after {
			content: "";
			background-color: black;
			position: absolute;
			top: calc(100% + 34px);
			left: 0;
			height: 2px;
			width: 42px;

			@include media(w1024) {
				margin-top: -1px;
				top: 50%;
				left: calc(100% + 14px);
			}
		}

		@include media(w1024) {
			display: inline-block;
		}
	}

	&__text {
		padding-right: 40px;

		@include media(w1024) {
			padding-right: 0;
		}

		p {
			margin-bottom: 1.5em;
		}
		
		h3 {
			margin-top: 3.8em;
		}

		h4 {
			font-weight: 600;
			margin-bottom: 1.5em;
		}
	
		ul {
	
			li {
				font-weight: 600;
				margin-bottom: 1.5em;
				padding-left: 40px;
				position: relative;
	
				&:before {
					content: "";
					background-image: url("../img/list-check.png");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 16px 16px;
					position: absolute;
					top: 3px;
					left: 0;
					height: 16px;
					width: 16px;
				}
			}
		}
	}

	&__img {
		background-image: url("../img/main-img1.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
		height: 100vh;

		@include media(w1366) {
			background-position: right -16vw top;
		}

		@include media(w1024) {
			background-size: 100%;
			background-position: right top -22vw;
			height: 100%;
		}
	}

	&__map {
		height: 100vh;
		width: 100%;

		@include media(w1024) {
			height: 100%;
		}
	}

	&__gallery-wrap {
		position: relative;
	}

	&__gallery {
		padding-right: 200px;
		padding-left: 19vw;
		position: relative;
		height: 100%;

		@include media(w1366) {
			padding-left: 22vw;
			padding-right: 14vw;
		}

		@include media(w1280) {
			padding-left: 24vw;
			padding-right: 14vw;
		}

		@include media(w1024) {
			padding-left: 100px;
			padding-right: 100px;
			height: auto;
		}

		@include media(w768) {
			padding-left: 60px;
			padding-right: 60px;
		}

		@include media(w480) {
			margin-right: -$side-padding-tablet;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&__error-text {
		font-size: 24px;
		margin-bottom: 2em;

		@include media(w768) {
			font-size: 16px;
		}
	}

	&__error-img {

		@include media(w1024) {
			padding-top: 20vw;
		}

		@include media(w768) {
			max-width: 80%;
		}
	}
}