extends ../templates/layout

block vars
	- var title = 'О компании'

block content
	div.content
		div.block.block_title
			div.content__title.
				О компании
		div.block.block_content
			div.content__text
				p.
					«Технопрогресс» - молодая российская инновационная компания, успевшая уже хорошо зарекомендовать себя на рынке информационных технологий. В сферу деятельности компании входит проектирование, создание и сопровождение информационных, инженерных, связных и управленчесих систем различного уровня сложности для российских организаций.
				p.
					Компания «Технопрогресс» входит в крупнейший IT-холдинг российского рынка «Национальную компьютерную корпорацию».
				p.
					Стратегия развития компании разрабатывается, опираясь на многолетний опыт работы холдинга, успешный опыт ведения бизнеса, а также на понимание конъюнктуры рынка России и тенденций его развития. Знание самых современных технологий, эффективное управление ресурсами, открытость для новаторских идей только способствуют развитию.
				h3.
					Миссия компании:
				p.
					Миссия компании «Технопрогресс» — успешная реализация проектов по построению и сопровождению инженерной, связной и IT инфраструктуры для российских организаций, заинтересованных в создании эффективных информационных систем. Мы делаем это в рамках устойчивой кооперации в целях удовлетворения интересов заказчиков, акционеров, сотрудников и партнеров.
				h3.
					Наши принципы:
				ul
					li.
						Мы работаем с передовыми и авторитетными поставщиками оборудования и технологий;
					li.
						Высокое качество, использование новейших технологий и разработок;
					li.
						Честность и открытость в ведении бизнеса;
					li.
						Полное и безусловное выполнение заключенных договоров;
					li.
						Исчерпывающий спектр услуг по созданию корпоративных систем любой сложности;
					li.
						Индивидуальный подход к каждому заказчику;
					li.
						Наличие опытных квалифицированных специалистов.
		div.block.block_info
			div.content__img